{{!-- The following component displays Ember's default welcome message. --}}
 <glitch>
  <div id="content">
  	
  	<div class="side-menu">
  		<ul>
  			<li>About me</li>
  			<li>About Us</li>
  			<li >Education</li>
  			<li >Experience #1</li>
  			<li>Experience #2</li>
  			<li>Coding</li>
  			<li>Blockchain</li>
  			<li>Hobbies</li>
  		</ul>
  	</div>
  	<div class="main-content">
		{{outlet}}
	</div>
	</div>
</glitch>